<div class="container-fluid">
    <div class="row">
        <div class="col-12 banner">
            <div class="row my-3">
                <div class="col-6 text-center">
                   <a class="link" href="https://monific.com/politica/aviso-de-privacidad" target="_blank"><h5 style="color: white;">Aviso de privacidad</h5></a> 
                 </div>
                 <div class="col-6 text-center">
                    <a class="link" href="https://monific.com/politica/terminos-y-condiciones" target="_blank"><h5 style="color: white;">Términos y condiciones</h5></a>
                 </div>
                 <div class="col-6 my-3 text-end">
                    <img class="bannerImg" src="assets/monific-blanco.png" alt="">
                </div>
                <div class="col-6 my-3 text-start">
                    <a href="https://inmobiliare.com/" target="_blank">
                        <img class="bannerImgInmob" src="assets/inmobiliare.png" alt="">
                    </a>
                </div>
                <div class="col-12 p-5">
                    <p style="color: white;">En términos del artículo Octavo Transitorio de la Ley para Regular las Instituciones de Tecnología Financiera se hace saber que: Monific presentó su Solicitud de Autorización para Organizarse y Operar como Institución de Financiamiento Colectivo ante la Comisión Nacional Bancaria y de Valores, por lo que se encuentra en proceso de ser autorizada y regulada por las autoridades financieras. Ni el Gobierno Federal ni las entidades de la administración pública paraestatal podrán responsabilizarse o garantizar los recursos de los clientes que sean utilizados en las Operaciones que celebren con Monific o frente a otros, así como tampoco asumir alguna responsabilidad por las obligaciones contraídas por Monific o por algún cliente frente a otro, en virtud de las operaciones que celebren.</p>
                </div>
            </div>
        </div>
    </div>
</div>