<div id="top"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-6 text-md-start banner mb-5">
            <h2 class="my-2" style="color: #136176; font-weight: 600;">Dinámica</h2>
        </div>
        <div class="col-md-3 col-12 my-5 text-center">
            <div class="col-12 ">
                <h1 style="color: #136176;"><strong>1.</strong></h1>
            </div>
            <div class="col-12">
                <h4 style="color: #136176;">Registro</h4>
            </div>
            <div class="col-12 mt-3">
                <h5 style="color: #5e7172;">Del 22 de noviembre del 2021 al 30 de enero del 2022</h5>
            </div>
        </div>
        <div class="col-md-3 col-12 my-5 text-center">
            <img class="circImg" src="assets/registro.png" alt="">
        </div>

        <div class="col-md-3 col-12 my-5 text-center">
            <div class="col-12 ">
                <h1 style="color: #136176;"><strong>2.</strong></h1>
            </div>
            <div class="col-12">
                <h4 style="color: #136176;">Análisis de proyectos</h4>
            </div>
            <div class="col-12 mt-3">
                <h5 style="color: #5e7172;">Del 1 al 28 de febrero del 2022</h5>
            </div>
        </div>
        <div class="col-md-3 col-12 my-5 text-center">
            <img class="circImg" src="assets/analisis.png" alt="">
        </div>


        <div class="col-md-3 col-12 my-5 text-center">
            <div class="col-12 ">
                <h1 style="color: #136176;"><strong>3.</strong></h1>
            </div>
            <div class="col-12">
                <h4 style="color: #136176;">Votación</h4>
            </div>
            <div class="col-12 mt-3">
                <h5 style="color: #5e7172;">Del 1 al 10 de marzo del 2022</h5>
            </div>
        </div>
        <div class="col-md-3 col-12 my-5 text-center">
            <img class="circImg" src="assets/votacion.png" alt="">
        </div>



        <div class="col-md-3 col-12 my-5 text-center">
            <div class="col-12 ">
                <h1 style="color: #136176;"><strong>4.</strong></h1>
            </div>
            <div class="col-12">
                <h4 style="color: #136176;">Selección y premiación</h4>
            </div>
            <div class="col-12 mt-3">
                <h5 style="color: #5e7172;">21 de marzo del 2022</h5>
            </div>
        </div>
        <div class="col-md-3 col-12 my-5 text-center">
            <img class="circImg" src="assets/seleccion.png" alt="">
        </div>




        <div class="col-md-7 col-12 banner img-fluid">
            <div class="col-12 my-1 px-5">
                <h4 class="my-5" style="color: white; text-align: justify;"><strong>¡Podrás votar por tu proyecto
                        favorito!</strong></h4>
            </div>
            <div class="col-12 px-5">
                <h5 style="color: white;">Conocerás el proyecto inmobiliario ganador en un evento en vivo</h5>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 my-5 text-center px-5 ml-2">
                    <img class="bannerImg" src="assets/monific-blanco.png" alt="">
                </div>
                <div class="col-md-6 col-12 my-5 text-start">
                    <a href="https://inmobiliare.com/"  target="_blank">
                        <img class="bannerImgInmob" src="assets/inmobiliare.png"  alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-12 p-0">
            <img src="../../assets/proyecto.jpg" class="img-fluid" alt="">
        </div>


        <div class="col-12 text-center">
            <h3 style="color: #136176; margin-top: 100px; margin-bottom: 100px;"><strong>¿Quién puede
                    participar?</strong> </h3>
        </div>
        <div class="col-md-4 col-12  text-center">
            <img class="my-2" src="assets/constructores.png" class="img my-2" alt="">
            <h5 style="color: #136176;"><strong>Constructores</strong></h5>
        </div>
        <div class="col-md-4 col-12 my-md-0 my-3 text-center">
            <img class="my-2" src="assets/desarrolladores.png" class="img my-2" alt="">
            <h5 style="color: #136176;"><strong>Desarrolladores</strong></h5>
        </div>
        <div class="col-md-4 col-12 text-center">
            <img class="my-2" src="assets/dueños.png" class="img my-2" alt="">
            <h5 style="color: #136176;"><strong>Dueños de hoteles</strong></h5>
        </div>

        <div class="col-12 text-center">
            <h3 style="color: #136176; margin-top: 100px; margin-bottom: 100px;"><strong>Dale un valor agregado a tu
                    proyecto turistico</strong> </h3>
        </div>
        <div class="col-md-4 col-12  text-center">
            <img class="my-2" src="assets/liquidez.png" class="img my-2" alt="">
            <h5 style="color: #136176;">Obtén liquidez</h5>
        </div>
        <div class="col-md-4 col-12 my-md-0 my-3 text-center">
            <img class="my-2" src="assets/gestion.png" class="img my-2" alt="">
            <h5 style="color: #136176;">Optimización integral de gestión hotelera</h5>
        </div>
        <div class="col-md-4 col-12 text-center">
            <img class="my-2" src="assets/publicidad.png" class="img my-2" alt="">
            <h5 style="color: #136176;">Obtén publicidad a través de los socios inversionistas.
            </h5>
        </div>


        <div class="col-12 text-center">
            <h3 style="color: #136176; margin-top: 100px; margin-bottom: 100px;"><strong>¿Qué es lo que necesitas para
                    participar?</strong>
            </h3>
        </div>

        <div class="col-12 banner text-center">
            <div class="row">
                <div class="col-md-4 my-5">
                    <h4 class="my-3" style="color: #136176;"><strong>Para impulsar</strong></h4>
                    <div class="col-12 mt-4">
                        <h5 style="color: white; text-align: center;">Contar con una propiedad
                        </h5>
                    </div>
                    <div class="col-12">
                        <h5 style="color: white; text-align: center;">construida, lista para operar
                        </h5>

                    </div>
                    <div class="col-12">
                        <h5 style="color: white; text-align: center;"> como hotel.
                        </h5>

                    </div>
                </div>
                <div class="col-md-4 my-5 text-center">
                    <h4 class="my-3" style="color: #136176;"><strong>Para construir</strong></h4>
                    <ul class="list" style="color: white;">

                        <h5 style="color: white;">Terreno propio</h5>

                        <li>
                            <h5 style="color: white;">Proyecto ejecutivo</h5>
                        </li>
                        <li>
                            <h5 style="color: white;">Permisos y licencias</h5>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 my-5 text-center">
                    <h4 class="my-3" style="color: #136176;"><strong>Para remodelar</strong></h4>
                    <ul class="list" style="color: white;">

                        <h5 style="color: white;">Propiedad construida</h5>

                        <li>
                            <h5 style="color: white;">Proyecto de remodelación</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-4 text-end my-5">
            <img src="../../assets/ubicacion.png" width="80px" alt="">
        </div>
        <div class="col-7 my-5">
            <div class="col-12">
                <h4 style="color: #136176;"><strong>Ubicación:</strong></h4>
            </div>
            <div class="col-12">
                <h5 style="color: #5e7172;">
                    Frente de playa, av principal turística, a
                    un máximo de 15 min de la principal
                    atracción turística de la ciudad.
                </h5>
            </div>
        </div>

        <div class="col-4 text-end my-5">
            <img src="../../assets/unidades.png" width="80px" alt="">
        </div>
        <div class="col-7 my-5">
            <div class="col-12">
                <h4 style="color: #136176;"><strong>Unidades y dimensiones:</strong></h4>
            </div>
            <div class="col-12">
                <h5 style="color: #5e7172;">
                    De 10 a 50 unidades, máximo 60 m² por unidad
                </h5>
            </div>
        </div>

        <div class="col-4 text-end my-5">
            <img src="../../assets/documentos.png" width="80px" alt="">
        </div>
        <div class="col-7 my-5">
            <div class="col-12">
                <h4 style="color: #136176;"><strong>Documentos:</strong></h4>
            </div>
            <div class="col-12">
                <ul>
                    <li>
                        <h5 style="color: #5e7172;">Proyecto arquitectónico</h5>
                    </li>
                    <li>
                        <h5 style="color: #5e7172;">Corrida financiera</h5>
                    </li>
                    <li>
                        <h5 style="color: #5e7172;">
                            Estudio de mercado (sustento comparativo del mercado para
                            proyectar los ingresos futuros).</h5>
                    </li>
                    <li>
                        <h5 style="color: #5e7172;"><strong>Plan de negocios (explicación detallada del uso de los recursos
                            solicitados).</strong></h5>
                    </li>
                    <li>
                        <h5 style="color: #5e7172;">Brochure</h5>
                    </li>
                    <li>
                        <h5 style="color: #5e7172;">Fotos</h5>
                    </li>
                </ul>
            </div>
        </div>


     

        <div class="text-center my-5">
            <button class="btn" (click)="top" [routerLink]="'/registro'"><strong>
                    <h5><strong>Registro</strong></h5>
                </strong></button>
        </div>

    </div>
</div>