<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <h1 style="color: #80d0be">Etapas</h1>
        </div>
        <div class="col-4 text-center">
            <img src="../../assets/registro.jpg" class="img-fluid" width="90% \9;">
        </div>
        <div class="col-4 text-center">
            <img src="../../assets/presentacion.jpg" class="img-fluid" width="90% \9;" alt="">
        </div>
        <div class="col-4 text-center">
            <img src="../../assets/eliminatoria.jpg" class="img-fluid" width="90% \9;" alt="">
        </div>
        <div class="col-12 my-5">
            <h1 style="color: #80d0be;"><strong>¿Por qué deberías participar?</strong> </h1>
        </div>
        <div class="row align-items-center col-5">
            <h5 class="mb-2" style="color: #5e7172;"><strong>Genera un impacto</strong><br> Tu propuesta ayudará a
                impulsar el sector turístico
                del país.</h5>
        </div>
        <div class="col-7 my-5">
            <img src="../../assets/generaimpacto.jpg" class="img-fluid img-thumbnail" alt="">
        </div>
        <div class="row align-items-center col-5">
            <h5 class="mb-2" style="color: #5e7172;"><strong>Capitaliza tu proyecto</strong><br>Podrás capitalizar tu
                proyecto y volverlo realidad.</h5>
        </div>
        <div class="col-7 my-5">
            <img src="../../assets/capitaliza.jpg" class="img-fluid img-thumbnail" alt="">
        </div>
        <div class="row align-items-center col-5">
            <h5 class="mb-2" style="color: #5e7172;"><strong>Exposición de tu trabajo</strong><br>Formarás parte de la
                primera economía
                colaborativa especializada en el sector turístico.</h5>
        </div>
        <div class="col-7 my-5">
            <img src="../../assets/exposición.jpg" class="img-fluid img-thumbnail" alt="">
        </div>
        <div class="col-12 my-5">
            <h1 style="color: #80d0be;"><strong>Explota tu potencial</strong> </h1>
        </div>
        <div class="col-6 p-0">
            <img src="../../assets/potencial.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-6 banner img-fluid">
            <div class="col-4 offset-4 mt-5">
                <hr style="height: 6px; background-color: #80d0be; width: 100%;">
            </div>
            <div class="col-12 text-center my-1 px-5">
                <p style="color: white; font-size: x-large; text-align: justify;">Remodela, construye o vende una
                    propiedad
                    en una ubicación turística con la finalidad
                    de operar como un hotel boutique</p>
            </div>
            <div class="col-12 px-5">
                <h3 style="color: white;"><strong>Monific te ayuda a hacerlo realidad</strong></h3>
            </div>
            <div class="col-12 text-center my-3">
                <img src="../../assets/ayuda.png" height="150px" alt="">
            </div>
        </div>


        <div class="col-12 my-5">
            <h1 style="color: #80d0be;"><strong>¿Quién puede participar?</strong> </h1>
        </div>
        <div class="col-4 text-center">
            <img class="my-2" src="../../assets/constructores.jpg" class="img-fluid" width="90% \9;" alt="">
        </div>
        <div class="col-4 text-center">
            <img class="my-2" src="../../assets/desarrolladores.jpg" class="img-fluid" width="90% \9;" alt="">
        </div>
        <div class="col-4 text-center">
            <img class="my-2" src="../../assets/dueños.jpg" class="img-fluid" width="90% \9;" alt="">
        </div>

        <div class="col-12 my-5">
            <h1 style="color: #80d0be;"><strong>¿Qué es lo que necesitas para participar?</strong> </h1>
        </div>

        <div class="col-sm-5 col-12 card p-3 mx-5 my-3">
            <div class="card-body">
                <img src="../../assets/vender.png" width="100px" alt="">
                <p><strong style="color: #80d0be;"> > </strong><strong style="color: #5e7172;">Para fondear:</strong>
                    Propiedad construida
                    lista para operar.</p>
                <p><strong style="color: #80d0be;"> > </strong><strong style="color: #5e7172;">Para construir:</strong>
                    Terreno propio +
                    proyecto ejecutivo + permisos y licencias</p>
                <p><strong style="color: #80d0be;"> > </strong><strong style="color: #5e7172;">Para remodelar:</strong>
                    Propiedad construida (puede no ser propia) + Proyecto de remodelación</p>
            </div>
        </div>
        <div class="col-sm-5 col-12 card p-3 my-3">
            <div class="card-body">
                <img src="../../assets/ubicacion.png" width="100px" alt="">
                <p><strong style="color: #80d0be;"> > </strong><strong style="color: #5e7172;">Ubicación:</strong>
                    <br>Frente de playa, av principal turística, a
                    un máximo de 15 min de la principal
                    atracción turística de la ciudad.
                </p>
            </div>
        </div>

        <div class="col-sm-5 col-12 card p-3 mx-5">
            <div class="card-body">
                <img src="../../assets/unidades.png" width="100px" alt="">
                <p><strong style="color: #80d0be;"> > </strong><strong style="color: #5e7172;">Unidades y
                        dimensiones:</strong>
                    <br> De 10 o 50 unidades,
                    máximo 60 m² por unidad.
                </p>
            </div>
        </div>
        <div class="col-sm-5 col-12 card p-3">
            <div class="card-body">
                <img src="../../assets/documentos.png" width="100px" alt="">
                <p><strong style="color: #80d0be;"> > </strong><strong style="color: #5e7172;">Docmentos:</strong>
                </p>
                <p><strong style="color: #80d0be;"> > </strong>Brochure</p>
                <p><strong style="color: #80d0be;"> > </strong>Fotos</p>
                <p><strong style="color: #80d0be;"> > </strong>Corrida financiera</p>
                <p><strong style="color: #80d0be;"> > </strong>Estudio de mercado</p>
                <p><strong style="color: #80d0be;"> > </strong>Proyecto ejecutivo</p>
            </div>
        </div>

        <div class="text-center my-5">
            <button class="btn" [routerLink]="'/registro'"><strong>
                    <h5>Registro</h5>
                </strong></button>
        </div>
       
    </div>
</div>