.mt-20{
    margin-top: 20px;
}

.banner{
    background-color: #009391;
}

.hl{
border-left: 6px solid #80d0be;
  height: 4px;
  width: 100%;
}



.btn {
    border          : solid #80d0be;
    border-radius   : 15px;
    background-color: #80d0be;
    width           : 190px;
    height          : 45px;
    text-align      : center;
    line-height     : 0px;
    color           : #136176;
}

.btn:hover{
    background-color: whitesmoke;
}

.mt-20{
    margin-top: 100px;
}

.white{
    color: white;
}