.btn {
    border          : solid #ff7a00;
    border-radius   : 15px;
    background-color: #ff7a00;
    width           : 190px;
    height          : 45px;
    text-align      : center;
    line-height     : 0px;
    color           : #136176;
}

.btn:hover {
    background-color: whitesmoke;
}

.padleft0 {
    padding-left: 0;
}


.img-fluid {
    object-fit: cover;
    height    : 100%;
}

.banner {
    background-color: #ff7a00;
}

.fondeo {
    width    : 100%;
    max-width: 150px;
    height   : auto;
}

.imgjoin{
    width    : 100%;
    max-height   : 180px;
}

.imgPart{
    width: 100%;
    max-width: 155px;
    height   : auto;
}

.banner {
    background-color: #ff7a00;
}
