
.btn {
    border          : solid #80d0be;
    border-radius   : 15px;
    background-color: #80d0be;
    width           : 190px;
    height          : 45px;
    text-align      : center;
    line-height     : 0px;
    color           : #136176;
}

.btn:hover {
    background-color: whitesmoke;
}

.vl {
    border-left: 6px solid #80d0be;
    height     : 476px;
}

.padleft0{
    padding-left: 0;
}