<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-6 text-md-start banner">
            <h2 class="my-2" style="color: #136176; font-weight: 600;">Convocatoria</h2>
        </div>
        <div class="col-md-6 text-center mb-5">
            <a class="col-12">
                <img class="fondeo" src="assets/fondeo.png" alt="">
            </a>
            <div class="col-12 mt-2">
                <h5 style="color: #136176;"><strong>Monific te podrá fondear hasta</strong></h5>
            </div>
            <div class="col-12 mt-2">
                <h2 style="color: #136176;"><strong>45 MDP</strong></h2>
            </div>
            <div class="col-12 mt-2">
                <h5 style="color: #136176;">En proyectos turísticos inmobiliarios</h5>
            </div>
            <div class="col-8 offset-2 mt-2 p-2 banner">
                <h5 style="color: white;">El ganador obtendrá un descuento del <strong>15%</strong> sobre la comisión por fondeo</h5>
            </div>
        </div>
        <div class="col-md-6 my-5">
            <h5 class="mb-4" style="color: #5e7172;"><strong>Bienvenido al primer concurso de fondeo para solicitantes
                    Monific 2021</strong></h5>
            <h5 style="color: #5e7172; line-height: 200%">Este concurso tiene como finalidad impulsar al
                sector turístico y encontrar el talento mexicano,
                en una oportunidad para el desarrollo de
                bienes raíces en las principales playas o
                destinos turísticos en México.</h5>
            <h5 class="mt-4" style="color: #5e7172;"><strong>Tu pones el proyecto y Monific te ayuda a
                    capitalizarlo.</strong></h5>
        </div>
        <div class="col-md-4 p-0 d-md-block d-none">
            <img class="imgjoin" src="assets/proyecto1.jpg" alt="">
        </div>
        <div class="col-md-4 p-0 d-md-block d-none">
            <img class="imgjoin" src="assets/proyecto2.jpg" alt="">
        </div>
        <div class="col-md-4 p-0 d-md-block d-none">
            <img class="imgjoin" src="assets/proyecto3.jpg" alt="">
        </div>
        <div class="col-12 my-5 text-center">
            <h3 style="color: #136176;"><strong>¿Por qué deberías participar?</strong></h3>
        </div>
        <div class="col-md-3 d-md-block d-none text-md-end">
            <img class="imgPart" src="assets/genera.png" alt="">
        </div>
        <div class="col-md-2 text-center my-3">
            <h1 style="color: #ff7a00; font-size: 80px;"><strong>01</strong></h1>
        </div>
        <div class="col-12 col-md-7 my-3">
            <h4 class="mb-4" style="color: #ff7a00; text-align: left;">
                <strong>Genera un impacto</strong>
            </h4>
            <h5 style="color: #5e7172;">Tu propuesta ayudará a
                impulsar el sector turístico del país
            </h5>
        </div>
        <div class="col-md-3 d-md-block d-none text-md-end">
            <img class="imgPart" src="assets/capitaliza.png" alt="">
        </div>
        <div class="col-md-2 text-center my-3">
            <h1 style="color: #ff7a00; font-size: 80px;"><strong>02</strong></h1>
        </div>
        <div class="col-12 col-md-5 my-3">
            <h4 class="mb-4" style="color: #ff7a00; text-align: left;">
                <strong>Capitaliza tu proyecto</strong>
            </h4>
            <h5 style="color: #5e7172;">Podrás capitalizar tu proyecto y volverlo realidad.
            </h5>
        </div>
        <div class="col-md-3 d-md-block d-none text-md-end">
            <img class="imgPart" src="assets/expo.png" alt="">
        </div>
        <div class="col-md-2 text-center my-3">
            <h1 style="color: #ff7a00; font-size: 80px;"><strong>03</strong></h1>
        </div>
        <div class="col-12 col-md-5 my-3">
            <h4 class="mb-4" style="color: #ff7a00; text-align: left;">
                <strong>Exposición de tu trabajo</strong>
            </h4>
            <h5 style="color: #5e7172;">Formarás parte de
                la
                primera economía
                colaborativa especializada en el sector turístico.
            </h5>
        </div>

        <div class="col-12 text-center my-5">
            <h3 style="color: #136176;"><strong>Explota tu potencial</strong></h3>
        </div>
        <div class="col-md-7 col-12 banner img-fluid">
            <div class="col-12 text-center my-1 px-5">
                <h5 class="my-5" style="color: white;">Remodela, construye o impulsa una propiedad en una ubicación
                    turística con la finalidad de operar como un hotel boutique.
                </h5>
            </div>
            <div class="col-12 text-center my-5">
                <h5 style="color: white;">Monific te ayuda a hacerlo realidad
                </h5>
            </div>
        </div>
        <div class="col-md-5 col-12 p-0">
            <img src="../../assets/explota.jpg" class="img-fluid" alt="">
        </div>


        <div class="text-center my-5">
            <button class="btn" [routerLink]="'/dinamica'"><strong>
                    <h5><strong>Dinámica</strong></h5>
                </strong></button>
        </div>
    </div>
</div>