<div class="container">
    <div class="row">
        <div class="col-4 offset-8 my-2">
            <h1 style="color: #80d0be">Convocatoria</h1>
        </div>
        <div class="col-md-7 my-5 d-flex padleft0">
            <img src="../../assets/guanajuato.png" class="img-fluid" alt="">
            <div class="vl ms-2"></div>
        </div>

        <div class="col-md-5 col-12 my-5">
            <h4 style="color: #5e7172;" class="mb-5"><strong>Bienvenido al primer concurso de fondeo para solicitantes
                    Monific 2021</strong></h4>
            <br><br>
            <p style="color: #5e7172; line-height: 200%" class="mb-5">Este concurso tiene como finalidad impulsar al
                sector turístico y encontrar el talento mexicano,
                en una oportunidad para el desarrollo de
                bienes raíces en las principales playas o
                destinos turísticos en México.</p>
            <br><br>
            <h5 style="color: #5e7172;"><strong>Tu pones el proyecto y Monific te ayuda a
                    capitalizarlo.</strong></h5>
        </div>
        <div class="text-center mb-5">
            <button class="btn" [routerLink]="'/dinamica'"><strong>
                    <h5>Dinamica</h5>
                </strong></button>
        </div>
    </div>
</div>