<div class="container">
    <div class="row">
        <div class="col-md-6 col-12 mt-5">
            <h3 class="my-4" style="color: #ff7a00;"><strong>Presentación</strong></h3>
            <h5 class="mb-5" style="text-align: justify; color: #808089"><strong>Monific</strong>
                convoca al primer
                concurso de
                fondeo
                colectivo para solicitantes 2021, con el objetivo
                de <strong>impulsar al sector turístico</strong> y encontrar el talento
                mexicano, en una oportunidad para el desarrollo
                de bienes raíces <strong>en las principales playas o
                    destinos turísticos en México.</strong> </h5>
            <h3 class="my-4" style="color: #ff7a00;">1.- Participantes</h3>
            <h5 style="text-align: justify; color: #808089; ">
                <strong>Podrán participar;</strong>
                <br><br>
                Constructores o desarrolladores que tengan
                experiencia o anteproyectos ya concluidos y
                que actualmente cuenten con una propuesta de
                proyecto que busque capitalizarlo.
                <br>
                Dueños de hoteles que
                tengan un inmueble que se pueda
                comercializar como una propiedad turística que
                se encuentre a la venta o que busque capital
                para su remodelación.
            </h5>
        </div>
        <div class="col-md-6 d-md-block d-none mt-5 p-0">
            <img style="float: right;" class="my-2 img img-fluid" src="../../assets/concurso.jpg">
        </div>
        <div class="col-md-6 col-12">
            <h3 class="my-4" style="color: #ff7a00;">2.- Registro</h3>
            <h5 style="text-align: justify; color: #808089; ">Para participar es necesario completar
                el formulario
                de registro disponible en la sección de “Registro”
                en la página de <a href="/registro">Registro</a>
                <br><br>
                En esta sección deberán llenar sus datos
                personales, tales como nombre, apellidos, correo
                electrónico y número telefónico.
                <br><br>
                Posteriormente deberán indicar que tipo de
                proyecto desean postular, ya sea propiedad para
                impulsar, para construir o para remodelar;
                Además, deberán adjuntar los siguientes
                documentos: proyecto arquitectónico, corrida financiera,  estudio de mercado (sustento comparativo del mercado para proyectar los ingresos futuros), <strong>plan de negocios (explicación detallada del uso de los recursos solicitados)</strong> , brochure y fotos.
                <br><br>
                <strong>Nota:</strong> No es necesario contar con todos los
                documentos al momento de realizar el registro.
                <br><br>
                <strong>Correo de confirmación</strong>
                <br><br>
                Cuando se haya realizado el registro de datos
                recibirás un correo electrónico desde la dirección
                <a href="mailto:solicitantes@monific.com">solicitantes@monific.com</a> en un plazo de 2 a 3
                días hábiles.
            </h5>
        </div>
        <div class="col-md-5 col-12 offset-md-1">
            <h3 class="my-4" style="color: #ff7a00;">3.- Etapas del concurso</h3>
            <h5 style="text-align: justify; color: #808089; ">
                <strong>Registro</strong>
                <br><br>
                Podrás registrarte a partir del día 22 de noviembre
                del 2021 hasta el 30 de enero del 2022 a las
                23:59, hora Ciudad de México.
                <br><br>
                <strong>Análisis de proyectos</strong>
                <br><br>
                El análisis de todos los proyectos presentados
                se realizará del día 1 de febrero del 2022 al
                28 de febrero del 2022.
                <br><br>
                En este transcurso existe la posibilidad de que te
                contactemos para llevar un seguimiento de la
                postulación de tu proyecto.
                <br><br>
                <strong>Votación</strong>
                <br><br>
                La votacion del proyecto ganador se llevara a cabo del dia 1 de marzo del 2022 al 10 de marzo del 2022
                <strong>Selección y premiación</strong>
                <br><br>
                La selección y el anuncio del o los proyectos
                ganadores se comunicarán a través de un evento online en vivo el día 21 de marzo del 2022.
            </h5>
        </div>
        <div class="col-12 my-5">
            <img src="../../assets/concurso2.jpg" width="100%" height="90%" alt="">
        </div>
        <div class="col-12 mb-5">
            <h3 class="my-4" style="color: #ff7a00;">4-. Primera evaluación</h3>
            <h5 style="text-align: justify; color: #808089; ">La evaluación estará a cargo de un
                jurado integrado por el equipo de “Proyectos” Monific.
                <br><br>
                Cada proyecto será evaluado conforme el siguiente procedimiento:
                <br><br>
                En proyectos tipo "Impulsar", se podrá fondear hasta un 90% del proyecto, bajo un esquema personalizado.
                <br><br>
                <strong>Evaluación Legal</strong>
                <br><br>
                Una vez que obtenemos todos los documentos, tanto del proyecto como representante legal verificamos y
                validamos la información.
                <br><br>
                <strong>Evaluación financiera</strong>
                Para seguir con un análisis de la rentabilidad y viabilidad del proyecto analizamos
                la corrida financiera, estudio de mercado y plan de negocios.
                <br><br>
                <strong>Evaluación arquitectónica</strong>
                <br><br>
                Revisión del proyecto arquitectónico por medio del equipo de especialistas.
            </h5>
        </div>
        <div class="col-12 mb-5">
            <h3 class="my-4" style="color: #ff7a00;">5-. Segunda evaluación</h3>
            <h5 style="text-align: justify; color: #808089; ">Posterior a la primera evaluación te
                contactaremos para solicitarte los documentos necesarios para analizar y
                evaluar a profundidad tu proyecto, desde lo legal, lo financiero y los arquitectónicos. </h5>
        </div>
        <div class="col-12 mb-5">
            <h3 class="my-4" style="color: #ff7a00;">6-. Premiación</h3>
            <h5 style="text-align: justify; color: #808089; ">El ganador del concurso obtendrá un descuento del 15% sobre la comisión por fondeo, que se establecerá una vez pactado el monto a fondear.</h5>
        </div>
        <div class="col-md-6 col-12 mb-5">
            <h3 class="my-4" style="color: #ff7a00;">7-. Datos personales</h3>
            <h5 style="text-align: justify; color: #808089; " class="mb-5">En cumplimiento con lo establecido por
                los
                artículos 26, 27 y 28 de la Ley General de Protección
                de Datos Personales en Posesión de Sujetos
                Obligados, hacemos de su conocimiento nuestro
                aviso de privacidad en
                <a href="https://monific.com/politica/aviso-de-privacidad" target="_blank">
                    https://monific.com/politica/aviso-de-privacidad
                </a> 
                y términos y condiciones en
                <a
                    href="https://monific.com/politica/terminos-y-condiciones" target="_blank">https://monific.com/politica/terminos-y-condiciones
                </a>
            </h5>
            <h3 class="my-4" style="color: #ff7a00;">8-. Contacto</h3>
            <h5 style="text-align: justify; color: #808089; ">Puedes consultar esta convocatoria en
                <a href="https://concurso.monific.com">https://concurso.monific.com</a>
                Las dudas relacionadas con esta convocatoria
                serán atendidas por el equipo de Monific a través
                del correo solicitantes@monific.com
            </h5>
        </div>
        <div class="col-md-6 d-md-block d-none">
            <img style="float: right;" class="my-2 img" src="../../assets/concurso4.jpg">
        </div>
    </div>
</div>