<div class="container">
    <div class="row">
        <div class="col-6 mt-5">
            <h2 class="my-4" style="color: #80d0be;">Presentación</h2>
            <p class="mb-5" style="text-align: justify; color: #808089; font-size: x-large;"><strong>Monific</strong>
                convoca al primer
                concurso de
                fondeo
                colectivo para solicitantes 2021, con el objetivo
                de <strong>impulsar al sector turístico</strong> y encontrar el talento
                mexicano, en una oportunidad para el desarrollo
                de bienes raíces <strong>en las principales playas o
                    destinos turísticos en México.</strong> </p>
            <h2 class="my-4" style="color: #80d0be;">1.- Participantes</h2>
            <p style="text-align: justify; color: #808089; font-size: x-large;">
                <strong>Podrán participar;</strong>
                <br><br>
                Constructores o desarrolladores que tengan
                experiencia o anteproyectos ya concluidos y
                que actualmente cuenten con una propuesta de
                proyecto que busque capitalizarlo.
                <br>
                Dueños de hoteles o brokers inmobiliarios que
                tengan o conozcan un inmueble que se pueda
                comercializar como una propiedad turística que
                se encuentre a la venta o que busque capital
                para su remodelación.
            </p>
        </div>
        <div class="col-6 mt-5 p-0">
            <img style="float: right;" class="my-2 img" src="../../assets/concurso.jpg">
        </div>
        <div class="col-6">
            <h2 class="my-4" style="color: #80d0be;">2.- Registro</h2>
            <p style="text-align: justify; color: #808089; font-size: x-large;">Para participar es necesario completar
                el formulario
                de registro disponible en la sección de “Registro”
                en la página de <a href="/registro">Registro</a>
                <br><br>
                En esta sección deberán llenar sus datos
                personales, tales como nombre, apellido, correo
                electrónico y número telefónico.
                <br><br>
                Posteriormente deberán indicar que tipo de
                proyecto desean postular, ya sea propiedad para
                fondear, para construir o para remodelar;
                Además, deberán adjuntar los siguientes
                documentos: brochure, fotos, corrida financiera,
                estudio de mercado de la zona y proyecto ejecutivo.
                <br><br>
                <strong>Nota:</strong>No es necesario contar con todos los
                documentos al momento de realizar el registro.
                <br><br>
                <strong>Correo de confirmación</strong>
                <br><br>
                Cuando se haya realizado el registro de datos
                recibirás un correo electrónico desde la dirección
                <a href="mailto:solicitantes@monific.com">solicitantes@monific.com</a> en un plazo de 2 a 3
                días hábiles.
            </p>
        </div>
        <div class="col-5 offset-1">
            <h2 class="my-4" style="color: #80d0be;">3.- Etapas del concurso</h2>
            <p style="text-align: justify; color: #808089; font-size: x-large;">
                <strong>Registro</strong>
                <br><br>
                Podrás registrarte a partir del día 27 de octubre
                del 2021 hasta el 25 de noviembre del 2021 a las
                23:59, hora Ciudad de México.
                <br><br>
                <strong>Presentación</strong>
                <br><br>
                La evaluación de todos los proyectos presentados
                se realizará del día 28 de noviembre del 2021 al
                14 de enero del 2022.
                <br><br>
                En este transcurso existe la posibilidad de que te
                contactemos para llevar un seguimiento de la
                postulación de tu proyecto.
                <br><br>
                <strong>Selección</strong>
                <br><br>
                La selección y el anuncio del o los proyectos
                ganadores se comunicarán el día 15 de enero
                del 2022.
            </p>
        </div>
        <div class="col-12 my-5">
            <img src="../../assets/concurso2.jpg" width="100%" height="90%" alt="">
        </div>
        <div class="col-12 mb-5">
            <h2 class="my-4" style="color: #80d0be;">4-. Primera evaluación</h2>
            <p style="text-align: justify; color: #808089; font-size: x-large;">La evaluación estará a cargo de un
                jurado integrado por el equipo de “Proyectos” Monific.
                <br><br>
                Cada proyecto será evaluado conforme el siguiente procedimiento:
                <br><br>
                En proyectos tipo “fondeo”, se podrá fondear hasta un 90% del proyecto, bajo un esquema personalizado.
                <br><br>
                <strong>Evaluación Legal</strong>
                <br><br>
                Una vez que obtenemos todos los documentos, tanto del proyecto como representante legal verificamos y
                validamos la información.
                <br><br>
                <strong>Evaluación financiera</strong>
                Para seguir con un análisis de la rentabilidad y viabilidad del proyecto analizamos el plan ejecutivo,
                la corrida financiera y el estudio de mercado.
                <br><br>
                <strong>Evaluación arquitectónica</strong>
                <br><br>
                Revisión del proyecto arquitectónico por medio del equipo de especialistas.
            </p>
        </div>
        <div class="col-12 mb-5">
            <h2 class="my-4" style="color: #80d0be;">5-. Segunda evaluación</h2>
            <p style="text-align: justify; color: #808089; font-size: x-large;">Posterior a la primera evaluación te
                contactaremos para solicitarte los documentos necesarios para analizar y
                evaluar a profundidad tu proyecto, desde lo legal, lo financiero y los arquitectónicos. </p>
        </div>
        <div class="col-6 mb-5">
            <h2 class="my-4" style="color: #80d0be;">6-. Datos personales</h2>
            <p style="text-align: justify; color: #808089; font-size: x-large;" class="mb-5">En cumplimiento con lo establecido por
                los
                artículos 26, 27 y 28 de la Ley General de Protección
                de Datos Personales en Posesión de Sujetos
                Obligados, hacemos de su conocimiento nuestro
                aviso de privacidad y términos y condiciones en
                <a
                    href="https://monific.com/politica/terminos-y-condiciones">https://monific.com/politica/terminos-y-condiciones</a>
            </p>

            <h2 class="my-4" style="color: #80d0be;">7-. Contacto</h2>
            <p style="text-align: justify; color: #808089; font-size: x-large;">Puedes consultar esta convocatoria en
                <a href="https://concurso.monific.com">https://concurso.monific.com</a>
                Las dudas relacionadas con esta convocatoria
                serán atendidas por el equipo de Monific a través
                del correo solicitantes@monific.com
            </p>
        </div>
        <div class="col-6">
            <img style="float: right;" class="my-2 img" src="../../assets/concurso4.jpg">
        </div>
        <app-footer></app-footer>
    </div>
</div>